@model DevSpot.ViewModels.JobPostingViewModel

<h1>Create</h1>

<form method="post" asp-action="Create">
	<partial name="_JobPostingForm" model="Model" />
	<button type="submit" class="btn btn-primary">Create</button>
</form>