@{
    Layout = "_Layout";
    ViewData["Title"] = "Server error";
}

<div class="container py-5 text-center">
    <h1 class="display-4">500</h1>
    <p class="lead">Error on server side.</p>
    <a asp-controller="JobPostings" asp-action="Index" class="btn btn-primary">Go to Home.</a>
</div>