@{
    Layout = "_Layout";
    ViewData["Title"] = "Page not found";
}

<div class="container py-5 text-center">
    <h1 class="display-4">404</h1>
    <p class="lead">Can not find this page.</p>
    <a asp-controller="JobPostings" asp-action="Index" class="btn btn-primary">Go to Home.</a>
</div>